.custom-description-text {
    font-size: 14pt;
}

.custom-description-text:hover {
    color: #f34960;
    border-color: #f34960;
}

.custom-get-text {
}

.custom-button {
    background-color: rgba(239, 8, 8, 0.1);
}

.get-your-genius {
    text-align: center;
}
